prd-home-assistant-app.env
prd-home-assistant-db.env

config/.cloud/
config/.storage/
config/deps
config/ip_bans.yaml
config/known_devices.yaml
config/secrets.yaml
config/*.log
config/google_calendars.yaml
config/.google.token
config/home-assistant.log.1
config/google_assistant/google_service_account.json
config/www/image/*
config/www/snapshots/*
config/.shopping_list.json
config/home-assistant.log.fault
