./src/config/.cloud/
src/config/.storage/
src/config/deps
src/config/ip_bans.yaml
src/config/known_devices.yaml
src/config/secrets.yaml
src/config/*.log
src/config/google_calendars.yaml
src/config/.google.token
src/config/home-assistant.log.1
./src/config/google_assistant/google_service_account.json
src/config/www/snapshots/*
src/config/.shopping_list.json
src/config/home-assistant.log.fault
src/data/
**/__pycache__