{% macro radio_badge_icon(radio_station_selection) %}
    {% if state_attr('media_player.powernode_2i_ea48', 'source') == radio_station_selection %}
        mdi:music
    {% else %}
        Null
    {% endif %}
{% endmacro %}

{% macro radio_badge_color(radio_station_selection) %}
    {% if state_attr('media_player.powernode_2i_ea48', 'source') == radio_station_selection %}
        blue
    {% else %}
        Null
    {% endif %}
{% endmacro %}

{% macro tv_chip_icon_color() %}
    {% if is_state("binary_sensor.tv_device", "on") %}
        blue
    {% else %}
        black
    {% endif %}
{% endmacro %}
