---
# BASE URL
base_url_https: https://homeassistant.theautomation.nl

# DATABASE URL
db_url: mysql://USERNAME:PASSWORD@docker-host.lan/home_assistant_db?charset=utf8

# HOME
home_zipcode: 0000AA
home_number: 0
home_city: AAAA
home_latitude: 52.35585
home_longitude: 3.01753

# VACUUM
vacuum_token: 12345678912345678912345678912345

# IP ADDRESSES
docker-host: 192.168.1.3
nvidia_shield_ip: 192.168.1.5

# PROXMOX
proxmox_host: 192.168.1.2
proxmox_username: UUUU
proxmox_password: PPPP
