---
db_url: mysql://USERNAME:PASSWORD@docker-host.lan/home_assistant_db?charset=utf8
home_zipcode: 0000AA
home_number: 0
home_city: AAAA
home_latitude: 52.35585
home_longitude: 3.01753
nvidia_shield_ip: 192.168.1.5
xiaomi_cloud_username: UUUU
xiaomi_cloud_password: PPPP
xiaomi_vacuum_s6_token: 1a12345678901a123456789123456789
