---
db_url: mysql://USERNAME:PASSWORD@docker-host.lan/home_assistant_db?charset=utf8
home_zipcode: 0000AA
home_number: 0
home_city: AAAA
home_latitude: 52.35585
home_longitude: 3.01753
docker-host: 192.168.1.240
nvidia_shield_ip: 192.168.1.5
proxmox_host: 192.168.1.2
proxmox_username: UUUU
proxmox_password: PPPP
xiaomi_cloud_username: UUUU
xiaomi_cloud_password: PPPP
xiaomi_vacuum_s6_token: 1234